body {
  font-family: Roboto;
}

nav {
  background-color: #00BFA5;
}

.logo-image {
  padding: 1rem;
}

.brand-logo {
  font-family: 'Roboto Mono';
  font-weight: 300;
  padding-left: 2rem!important;
  font-size: 1.2rem!important;
}

.intro-card {
  min-height: 20vh;
  min-width: 100vw;
  background-color: #60BFE9;
}

.Explaination-card {
  min-height: 80vh;
  min-width: 100vw;
  font-weight: 200;
  background-color: #263238;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.Explaination-card div {
  z-index: 2;
}

.bottom-anchored {
  position: absolute;
  bottom: 10rem;
  left: calc(50vw - 3.5rem);
}

.bottom-anchored a {
  background-color: #76FF03;
  color: #000000;
  font-weight: 400;
}

.banner-img {
  max-height: 19vh;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.lower-banner-img {
  max-height: 70vh;
  padding-right: 1rem;
  padding-left: 0.5rem;
  position: absolute;
  right: -20%;
  bottom: 1.5rem;
}

.centered-area {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.centered-area h2 {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 1.2rem!important;
}

.nav-wrapper {
  font-family: 'Roboto Mono';
  font-weight: 300;
  padding-left: 1rem;
}

.visualization {
  padding: 2rem;
}

.visualization {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: url(images/grab.cur); /* fallback: Internet Explorer */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab; /* W3C standards syntax, should come least */
}
.visualization:active {
    cursor: url(images/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.interactive-panel-header {
  padding: 1rem 0;
  background-color: #EEEEEE;
}

.loading-wrapper {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.83);
  z-index: 10;
  visibility: hidden;
}

.message-area {
  margin: 40vh auto;
  width: 10vw;
}

.message-area h5 {
  font-family: Roboto;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 1rem;
}

.message-area img {
  max-width: 5rem;
}

.interactive-panel {
  background-color: #fafafa;
  padding: 1rem;
}

.bar-button {
  width: 60vw;
  left: calc(50% - 30vw);
}

.acknowledgements {
  min-width: 100vw;
  min-height: 40vh;
  background-color: #263238;
  padding-top: 3rem;
  color: #FFFFFF;
  font-weight: 200;
}

.input-field label {
  top: -1.5rem;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.axis .tick text{
  fill: #000000;
}

.dot {
  stroke: none;
  fill: rgba(5, 209, 255, 0.75);
}

.predicted-dot {
  stroke: none;
  fill: rgba(244, 67, 54, 0.75);
}

.ghost-dot {
  stroke: none;
  fill: rgba(0, 0, 0, 0.15);
}

.table{
  display: none;
}

table {
    border-collapse: collapse;
    visibility: hidden;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 200px;
}

.axis-label {
  fill: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  font-family: Roboto Mono;
  font-weight: 300;
}

/*
We set the element we are applying our loading mask to relative  
*/
.loading-mask {
  position: relative;
}

/*
Because we set .loading-mask relative, we can span our ::before  
element over the whole parent element  
*/
.loading-mask::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
}

/*
Spin animation for .loading-mask::after  
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*
The loading throbber is a single spinning element with three  
visible borders and a border-radius of 50%.  
Instead of a border we could also use a font-icon or any  
image using the content attribute.  
*/
.loading-mask::after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) rgb(255, 255, 255);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
}

.crosshair {
  stroke: #000000;
  stroke-width: 0.5;
  fill: none;
}

/* Tooltips */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  border-radius: 2px;
}

.legend-label {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 0.7rem;
}

.legend-sub-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.8rem;
}

.legend-sub-sub-label {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 0.6rem;
}

